In [ ]:
!pip install pyspark

In [2]:
import sys
import os

sys.path.append("/workspace/seed")

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from pyspark.sql import SparkSession
import pyspark

from seed.iceberg_setup import conf

## Start Spark Session
spark: SparkSession = SparkSession.builder.config(conf=conf).getOrCreate()
print("Spark Running")

spark.sql("DROP NAMESPACE IF EXISTS nessie.dev;")

spark.sql("CREATE NAMESPACE nessie.dev;")

spark.sql("SHOW NAMESPACES FROM nessie").show()

In [ ]:
## Create a Table
spark.sql("CREATE OR REPLACE TABLE nessie.dev.names (name STRING) USING iceberg;")

## Insert Some Data
spark.sql("INSERT INTO nessie.dev.names VALUES ('Test');")

## Query the Data
spark.sql("SELECT * FROM nessie.dev.names;").show()

spark.sql("SHOW TABLES FROM nessie;").show()

spark.sql("DROP TABLE nessie.dev.names PURGE;")

In [ ]:
df = spark.read.parquet("s3a://seed/flights-1m.parquet")
df.show(5)

df.printSchema()

df.createOrReplaceTempView("raw_flights")

In [ ]:
spark.sql("SELECT * FROM raw_flights LIMIT 10;").show()

In [ ]:
spark.sql("""
    SELECT
        MIN(FL_DATE) AS min_date,
        MAX(FL_DATE) AS max_date,
        COUNT(*) AS num_rows
    FROM raw_flights;
""").show()

spark.sql("""
    SELECT
        FL_DATE,
        COUNT(*) AS num_rows
    FROM raw_flights
    GROUP BY FL_DATE
    ORDER BY FL_DATE
    LIMIT 10;
""").show()

In [ ]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS nessie.dev.flights 
    USING iceberg
    PARTITIONED BY (fl_date)
    AS
    SELECT
        *
    FROM raw_flights;
""")

spark.sql("SELECT * FROM nessie.dev.flights LIMIT 5;").show()

In [ ]:
spark.sql("SELECT * FROM nessie.dev.flights.files;").show()

In [ ]:
spark.sql("""
    SELECT 
        SUM(file_size_in_bytes) AS table_size_in_bytes,
        COUNT(partition) AS num_partitions,
        SUM(record_count) AS num_rows
    FROM nessie.dev.flights.files;
""").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
spark.sql("").show()

In [ ]:
# spark.sql("DROP TABLE nessie.dev.flights PURGE;")